
*.gzip
*.xlsx
*.csv
*.h5
*.hdf5
*.npz
*.png
*.svg
*.html
*.xml
*.iml
*.cpg
*.shp
*.shx
*.dbf
*.pkl
idea/
*.pdf
*.json
*.zip
*.txt
*.prj
*.sbn
*.log
*.pyc
*.sbx

*.npy
*.db
*.pt.zst
*.pkl
*.sqlite
*.pt


!PVGIS_data/NUTS1.json
!PVGIS_data/NUTS2.json
!PVGIS_data/NUTS3.json
!PVGIS_data/residential_floor_area.json

